body.page {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(tablet) {
        width: 750px;
    }

    @include breakpoint(desktop) {
        width: 970px;
    }

    @include breakpoint(desktop-large) {
        width: 1170px;
    }
}