.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 72px;
    z-index: 997;

    .main-section {
        background-color: transparent;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;

        @media screen and (min-width: 600px) {
            padding: 0 36px;
            justify-content: space-between;
        }
        

        .site-title {
            margin: 12px 0 0;
            position: absolute;
            left: 18px;
            
            @include breakpoint(desktop) {
                position: initial;
            }

            a {
                color: #fff;
                font-size: 40px;
                text-decoration: none;
                font-family: $font__heading;
            }
        }
    
        .main-navigation {
            label {
                display: block;
                cursor: pointer;
                position: fixed;
                width: 50vw;
                height: 50vw;
                max-width: 150px;
                max-height: 150px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 999;

                @media (min-aspect-ratio: 1/1) {
                    width: 50vh;
                    height: 50vh;
                }
                
                @include breakpoint(tablet) {
                    bottom: 42px;
                }

                @include breakpoint(desktop) {
                    display: none;
                }

                input {
                    display: none;
                    &:checked {
                        &+svg {
                            .line--1,
                            .line--3 {
                                --length: 22.627416998;
                                --offset: -94.1149185097;
                            }
                            .line--2 {
                                --length: 0;
                                --offset: -50;
                            }
                        }
                    }
                }

                svg {
                    circle {
                        fill: $blue_900;
                        opacity: 0.33;
                        transition: opacity .4s ease;
                    }
                    path {
                        fill: none;
                        stroke: #ffffff;
                        stroke-width: 3;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        --length: 24;
                        --offset: -38;
                        stroke-dasharray: var(--length) var(--total-length);
                        stroke-dashoffset: var(--offset);
                        transition: all .8s cubic-bezier(.645, .045, .355, 1);
                    }

                    .line--1,.line--3 {
                      --total-length: 126.64183044433594;
                    }
                    .line--2 {
                      --total-length: 70;
                    }
                }

                &:hover {
                    svg {
                        circle {
                            opacity: 0.66;
                        }
                    }
                }
            }

            .outer-menu {
                position: fixed;
                top: 50%;
                left: 50%;
                background-color: $blue_800;
                z-index: 998;
                width: 200vh;
                height: 200vh;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0) ;
                opacity: 0;
                transition: opacity 0.25s ease, transform 0.75s ease;

                @include breakpoint(desktop) {
                    opacity: 1;
                    transform: unset !important;
                    height: auto;
                    width: auto;
                    top: 0;
                    right: 0;
                    left: 0;
                    background-color: transparent;
                    border-radius: unset;
                }

                &.open {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;

                    > div {
                        opacity: 1;
                    }
                }
                

                > div {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    opacity: 0;
                    transition: opacity 0.4s 0.5s ease;

                    @include breakpoint(desktop) {
                        opacity: 1;
                        width: auto;
                        height: auto;
                    }

                    .menu-main-menu-container {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;

                        @include breakpoint(desktop) {
                            position: relative;
                            transform: unset;
                        }
    
                        
                        .menu {
                            display: block;
                            text-align: center;

                            @include breakpoint(desktop) {
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: flex-end;
                                padding: 0 36px;
                            }

                            .menu-item {
                                a {
                                    font-size: 2rem;
                                    padding: 18px 36px;
                                    font-family: 'Open Sans 600', sans-serif;
                                    transition: all .4s cubic-bezier(.645, .045, .355, 1);

                                    @include breakpoint(desktop) {
                                        font-size: 1rem;
                                        width: auto;
                                        height: auto;
                                        padding: 36px 18px;
                                        position: relative;
                                        color: $grey_800;   
                                    }
                

                                    &:hover {
                                        @include breakpoint(desktop) {
                                            color: #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}