section {    
    &#main {
        background-color: $blue_50;
        position: relative;
        height: 100vh;
        z-index: -2;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        svg {
            position: absolute;
            z-index: -1;
            width: 300px;
            height: 300px;

            @include breakpoint(tablet) {
                width: 450px;
                height: 450px;
            }

            @include breakpoint(desktop) {
                width: 500px;
                height: 500px;
            }

            path {
                fill: $blue_100;
            }

            &:first-of-type {
                top: 0;
                right: 0;
            }

            &:last-of-type {
                bottom: 0;
                left: 0;
            }
        }

        .container {
            margin-bottom: 72px;

            .headshot {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                box-shadow: $shadow_medium;

                @include breakpoint(tablet) {
                    width: 270px;
                    height: 270px;
                }

                @include breakpoint(desktop) {
                    width: 300px;
                    height: 300px;
                }
            }

            h1 {
                text-align: center;
                font-family: 'Open Sans 800', sans-serif;
                color: $grey_800;
                margin-top: 36px;
                max-width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;

                @include breakpoint(tablet) {
                    padding: 0 72px;
                    font-size: 2.6rem;
                }

                @include breakpoint(desktop) {
                    font-size: 4.5rem;
                }

                span {
                    width: 100%;
                    display: block;


                    @include breakpoint(mobile) {
                        width: auto;
                        margin: 0 6px;
                        display: unset;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &#about {
        .top {
            background-color: $blue_800;

            .container {
                padding-top: 72px;
                padding-bottom: 72px;

                h2, p {
                    color: #fff;
                    text-align: center;

                    @include breakpoint(tablet) {
                        padding: 0 72px;
                    }
                }

                p {
                    margin: 18px 0 72px;

                    @include breakpoint(desktop) {
                        font-size: 1.125rem;
                    }
                }

                @include breakpoint(desktop) {
                    h2 {
                        font-size: 2.25rem;
                    }
                }
            }
        }

        .bottom {
            .container {
                margin-top: -72px;

                .about-inner {
                    @include breakpoint(desktop) {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 72px;
                    }

                    .card {
                        background-color: #fff;
                        box-shadow: $shadow_small;
                        border-radius: 6px;
                        padding: 36px;
                        margin-bottom: 36px;
                        text-align: center;
    
    
                        @include breakpoint(tablet) {
                            padding: 72px;
                            margin-bottom: 72px;
                        }

                        @include breakpoint(tablet) {
                            padding: 72px 36px;
                        }
    
                        .icon {
                            background-color: $blue_800;
                            border-radius: 50%;
                            width: 48px;
                            height: 48px;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: center;
                            margin-left: auto;
                            margin-right: auto;
    
                            @include breakpoint(tablet) {
                                width: 72px;
                                height: 72px;
                            }
    
                            svg {    
                                @include breakpoint(tablet) {
                                    height: 36px;
                                    width: 36px;
                                }
                            }
                        }
    
                        h3 {
                            color: $grey_800;
                            font-size: 1.5rem;
                            margin-top: 18px;
    
                            @include breakpoint(tablet) {
                                margin-top: 36px;
                            }
                        }
    
                        p {
                            max-width: 80%;
                            margin: 18px auto 0;
    
                            @include breakpoint(tablet) {
                                margin-top: 36px;
                            }

                            @include breakpoint(desktop) {
                                font-size: 1.125rem;
                            }
                        }
    
                        .job {
                            margin-top: 18px;
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;
                            justify-content: center;
                            color: $grey_800;

                            @include breakpoint(tablet) {
                                margin-top: 36px;
                            }
    
                            .company {
                                font-family: 'Open Sans 600', sans-serif;

                                @include breakpoint(desktop) {
                                    font-size: 1.125rem;
                                }
                            }
    
                            .time {
                                font-family: 'Open Sans 300', sans-serif;
                                display: flex;
                                flex-flow: column wrap;
    
                                @include breakpoint(mobile-large) {
                                    display: block;
    
                                    span {
                                        &:last-of-type {
                                            &::before {
                                                content: "- ";
                                            }
                                        }
                                    }
                                }

                                @include breakpoint(desktop) {
                                    display: flex;

                                    span {
                                        font-size: 1.125rem;

                                        &:first-of-type {
                                            font-family: 'Open Sans 400', sans-serif;
                                        }

                                        &:last-of-type {
                                            &::before {
                                                content: "";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#live-projects {
        padding: 36px 0 72px;

        .container {
            h2, p {
                text-align: center;
                padding: 0 36px;
            }

            @include breakpoint(desktop) {
                h2 {
                    font-size: 2.25rem;
                }

                p {
                    font-size: 1.125rem;
                }
            }

            .projects {

                @include breakpoint(tablet) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 72px;
                    row-gap: 72px;
                    margin-top: 72px;
                }

                @include breakpoint(desktop) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .card {
                    display: inline-block;
                    margin-top: 36px;
                    width: 100%;
                    height: 0;
                    padding-top: 100%;
                    border-radius: 6px;
                    position: relative;
                    background-position: center center;
                    background-size: cover;
                    box-shadow: $shadow_small;
                    transition: $shadow_anim;

                    @include breakpoint(tablet) {
                        margin-top: 0px;
                    }
    
                    &:hover {
                        box-shadow: $shadow_hover;
                    }
    
                    &#transalis {
                        background-image: linear-gradient( rgba(44, 53, 56, 0.75), rgba(44, 53, 56, 0.75)), url('/wp-content/uploads/2022/04/frictionless-business-hp-3.webp');
                    }
    
                    &#argos {
                        background-image: linear-gradient( rgba(66, 66, 66, 0.75), rgba(66, 66, 66, 0.75)), url('/wp-content/uploads/2022/04/argos.webp');
                    }
    
                    &#fishscience {
                        background-image: linear-gradient( rgba(0, 87, 134, 0.75), rgba(0, 87, 134, 0.75)), url('/wp-content/uploads/2022/04/fishscience.webp');
                    }
    
                    &#openedi {
                        background-image: linear-gradient( rgba(0, 170, 224, 0.75), rgba(0, 170, 224, 0.75)), url('/wp-content/uploads/2022/04/home-background.webp');
                    }
    
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        padding: 0 36px;
                        max-height: 110px;
                        object-fit: contain;
                        height: unset;

                        @include breakpoint(tablet) {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }

    &#contact {
        background-color: $blue_800;
        height: 100vh;
        position: relative;

        .container {
            .content {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 72px);
                color: #fff;
                text-align: center;
                padding: 0 36px;

                @include breakpoint(tablet) {
                    max-width: 372px;

                    h2 {
                        font-size: 2.25rem;
                    }
                }

                p {
                    margin: 18px 0;

                    @include breakpoint(tablet) {
                        margin: 18px 0 36px;
                    }

                    @include breakpoint(desktop) {
                        font-size: 1.125rem;
                    }
                }

                .button {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    border: 2px solid #fff;
                    border-radius: 6px;
                    padding: 9px;
                    width: 100%; 
                    font-family: 'Open Sans 700', sans-serif;
                    transition: background-color 0.4s ease, color 0.4s ease;

                    @include breakpoint(desktop) {
                        font-size: 1.125rem;
                    }

                    &:hover {
                        background-color: #fff;
                        color: $blue_800;
                    }
                }
            }

            .bottom {
                position: absolute;
                bottom: 144px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                text-align: center;
                color: #fff;

                @include breakpoint(tablet) {
                    bottom: 186px;
                }

                @include breakpoint(desktop) {
                    bottom: 72px;
                    font-size: 1.125rem;
                }

                .social {
                    margin-bottom: 36px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        width: 36px;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        margin: 0 9px;
                        transition: background-color 0.4s ease;

                        svg {
                            fill: $blue_800;
                            transition: fill 0.4s ease;
                        }

                        &:hover {
                            background-color: transparent;

                            svg {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}