/*!
Theme Name: adampoolcom
Theme URI: http://underscores.me/
Author: Adam Pool
Author URI: https://www.adampool.com
Description: Custom theme for adampool.com
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: adampoolcom
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

adampoolcom is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@font-face{font-family:"Open Sans 300";src:url(/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Light.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:"Open Sans 400";src:url(/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Regular.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:"Open Sans 600";src:url(/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-SemiBold.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:"Open Sans 700";src:url(/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Bold.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:"Open Sans 800";src:url(/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-ExtraBold.woff) format("woff");font-weight:400;font-style:normal}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%;box-sizing:border-box}body{margin:0}details,main{display:block}h1{font-size:2em}hr{box-sizing:content-box;overflow:visible;background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}code,kbd,pre,samp{font-size:1em}samp{font-family:monospace,monospace}a{background-color:transparent;color:#4169e1}abbr[title]{border-bottom:none;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none;height:auto;max-width:100%}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}.site-header .main-section .main-navigation label input,[hidden],template{display:none}*,::after,::before{box-sizing:inherit}body,input,optgroup,select{color:#212121;line-height:1.5}body,button,input,optgroup,select,textarea{font-family:"Open Sans 400",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:1rem}button{color:#212121}textarea{line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;font-family:"Open Sans 700",sans-serif;margin:0}p{margin-bottom:1.5em}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation,address,table{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:"Open Sans 400",monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}body{background:#fff}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}.widget select,embed,iframe,object,pre{max-width:100%}figure{margin:1em 0}table{width:100%}a:visited{color:purple}a:active,a:focus,a:hover{color:#191970}a:focus{outline:thin dotted}a:active,a:hover{outline:0}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,.8);line-height:1;padding:.6em 1em .4em}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb}input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.main-navigation,.main-navigation a{display:block;height:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{text-decoration:none;color:#fff;padding:8px 16px}.main-navigation.toggled ul,.menu-toggle{display:block}@media screen and (min-width:37.5em){.menu-toggle{display:none}.main-navigation ul{display:flex}}.comment-navigation .nav-links,.post-navigation .nav-links,.posts-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{text-align:end;flex:1 0 50%}.sticky{display:block}.page,.post{margin:0}.updated:not(.published){display:none}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.site-header{position:fixed;left:0;right:0;top:0;height:72px;z-index:997}.site-header .main-section{background-color:transparent;display:flex;flex-flow:row wrap;align-items:center;justify-content:flex-end}@media screen and (min-width:600px){.site-header .main-section{padding:0 36px;justify-content:space-between}}.site-header .main-section .site-title{margin:12px 0 0;position:absolute;left:18px}@media (min-width:992px){.site-header .main-section .site-title{position:initial}}.site-header .main-section .site-title a{color:#fff;font-size:40px;text-decoration:none;font-family:"Open Sans 700",sans-serif}.site-header .main-section .main-navigation label{display:block;cursor:pointer;position:fixed;width:50vw;height:50vw;max-width:150px;max-height:150px;bottom:0;left:50%;transform:translateX(-50%);z-index:999}@media (min-aspect-ratio:1/1){.site-header .main-section .main-navigation label{width:50vh;height:50vh}}@media (min-width:768px){.site-header .main-section .main-navigation label{bottom:42px}}@media (min-width:992px){.site-header .main-section .main-navigation label{display:none}}.site-header .main-section .main-navigation label input:checked+svg .line--1,.site-header .main-section .main-navigation label input:checked+svg .line--3{--length:22.627416998;--offset:-94.1149185097}.site-header .main-section .main-navigation label input:checked+svg .line--2{--length:0;--offset:-50}.site-header .main-section .main-navigation label svg circle{fill:#0d47a1;opacity:.33;transition:opacity .4s ease}.site-header .main-section .main-navigation label svg path{fill:none;stroke:#fff;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;--length:24;--offset:-38;stroke-dasharray:var(--length) var(--total-length);stroke-dashoffset:var(--offset);transition:all .8s cubic-bezier(.645,.045,.355,1)}.site-header .main-section .main-navigation label svg .line--1,.site-header .main-section .main-navigation label svg .line--3{--total-length:126.64183044433594}.site-header .main-section .main-navigation label svg .line--2{--total-length:70}.site-header .main-section .main-navigation label:hover svg circle{opacity:.66}.site-header .main-section .main-navigation .outer-menu{position:fixed;top:50%;left:50%;background-color:#1565c0;z-index:998;width:200vh;height:200vh;border-radius:50%;transform:translate(-50%,-50%) scale(0);opacity:0;transition:opacity .25s ease,transform .75s ease}@media (min-width:992px){.site-header .main-section .main-navigation .outer-menu{opacity:1;transform:unset!important;height:auto;width:auto;top:0;right:0;left:0;background-color:transparent;border-radius:unset}}.site-header .main-section .main-navigation .outer-menu.open{transform:translate(-50%,-50%) scale(1);opacity:1}.site-header .main-section .main-navigation .outer-menu.open>div{opacity:1}.site-header .main-section .main-navigation .outer-menu>div{height:100%;width:100%;position:relative;opacity:0;transition:opacity .4s .5s ease}@media (min-width:992px){.site-header .main-section .main-navigation .outer-menu>div{opacity:1;width:auto;height:auto}}.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container{position:absolute;top:50%;transform:translateY(-50%);left:0;right:0}@media (min-width:992px){.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container{position:relative;transform:unset}}.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container .menu{display:block;text-align:center}@media (min-width:992px){.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container .menu{display:flex;flex-flow:row wrap;justify-content:flex-end;padding:0 36px}}.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container .menu .menu-item a{font-size:2rem;padding:18px 36px;font-family:"Open Sans 600",sans-serif;transition:all .4s cubic-bezier(.645,.045,.355,1)}@media (min-width:992px){.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container .menu .menu-item a{font-size:1rem;width:auto;height:auto;padding:36px 18px;position:relative;color:#424242}.site-header .main-section .main-navigation .outer-menu>div .menu-main-menu-container .menu .menu-item a:hover{color:#000}}body.page{margin:0;padding:0}.container{width:100%;padding-left:36px;padding-right:36px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}section#main{background-color:#e3f2fd;position:relative;height:100vh;z-index:-2;display:flex;flex-flow:row wrap;align-items:center;justify-content:center}section#main svg{position:absolute;z-index:-1;width:300px;height:300px}@media (min-width:768px){section#main svg{width:450px;height:450px}}@media (min-width:992px){section#main svg{width:500px;height:500px}}section#main svg path{fill:#bbdefb}section#main svg:first-of-type{top:0;right:0}section#main svg:last-of-type{bottom:0;left:0}section#main .container{margin-bottom:72px}section#main .container .headshot{width:200px;height:200px;border-radius:50%;margin-left:auto;margin-right:auto;overflow:hidden;box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}@media (min-width:768px){section#main .container .headshot{width:270px;height:270px}}@media (min-width:992px){section#main .container .headshot{width:300px;height:300px}}section#main .container h1{text-align:center;font-family:"Open Sans 800",sans-serif;color:#424242;margin-top:36px;max-width:100%;display:flex;flex-flow:row wrap;align-items:center;justify-content:center}@media (min-width:768px){section#main .container h1{padding:0 72px;font-size:2.6rem}}@media (min-width:992px){section#main .container h1{font-size:4.5rem}}section#main .container h1 span{width:100%;display:block}@media (min-width:411px){section#main .container h1 span{width:auto;margin:0 6px;display:unset;white-space:nowrap}}section#about .top{background-color:#1565c0}section#about .top .container{padding-top:72px;padding-bottom:72px}section#about .top .container h2,section#about .top .container p{color:#fff;text-align:center}@media (min-width:768px){section#about .top .container h2,section#about .top .container p{padding:0 72px}}section#about .top .container p{margin:18px 0 72px}@media (min-width:992px){section#about .top .container p{font-size:1.125rem}section#about .top .container h2{font-size:2.25rem}}section#about .bottom .container{margin-top:-72px}@media (min-width:992px){section#about .bottom .container .about-inner{display:grid;grid-template-columns:1fr 1fr 1fr;column-gap:72px}}section#about .bottom .container .about-inner .card{background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);border-radius:6px;padding:36px;margin-bottom:36px;text-align:center}@media (min-width:768px){section#about .bottom .container .about-inner .card{margin-bottom:72px;padding:72px 36px}}section#about .bottom .container .about-inner .card .icon{background-color:#1565c0;border-radius:50%;width:48px;height:48px;display:flex;flex-flow:row wrap;align-items:center;justify-content:center;margin-left:auto;margin-right:auto}@media (min-width:768px){section#about .bottom .container .about-inner .card .icon{width:72px;height:72px}section#about .bottom .container .about-inner .card .icon svg{height:36px;width:36px}}section#about .bottom .container .about-inner .card h3{color:#424242;font-size:1.5rem;margin-top:18px}@media (min-width:768px){section#about .bottom .container .about-inner .card h3{margin-top:36px}}section#about .bottom .container .about-inner .card p{max-width:80%;margin:18px auto 0}@media (min-width:768px){section#about .bottom .container .about-inner .card p{margin-top:36px}}@media (min-width:992px){section#about .bottom .container .about-inner .card p{font-size:1.125rem}}section#about .bottom .container .about-inner .card .job{margin-top:18px;display:flex;flex-flow:column wrap;align-items:center;justify-content:center;color:#424242}@media (min-width:768px){section#about .bottom .container .about-inner .card .job{margin-top:36px}}section#about .bottom .container .about-inner .card .job .company{font-family:"Open Sans 600",sans-serif}@media (min-width:992px){section#about .bottom .container .about-inner .card .job .company{font-size:1.125rem}}section#about .bottom .container .about-inner .card .job .time{font-family:"Open Sans 300",sans-serif;display:flex;flex-flow:column wrap}@media (min-width:576px){section#about .bottom .container .about-inner .card .job .time{display:block}section#about .bottom .container .about-inner .card .job .time span:last-of-type::before{content:"- "}}@media (min-width:992px){section#about .bottom .container .about-inner .card .job .time{display:flex}section#about .bottom .container .about-inner .card .job .time span{font-size:1.125rem}section#about .bottom .container .about-inner .card .job .time span:first-of-type{font-family:"Open Sans 400",sans-serif}section#about .bottom .container .about-inner .card .job .time span:last-of-type::before{content:""}}section#live-projects{padding:36px 0 72px}section#live-projects .container h2,section#live-projects .container p{text-align:center;padding:0 36px}@media (min-width:992px){section#live-projects .container h2{font-size:2.25rem}section#live-projects .container p{font-size:1.125rem}}@media (min-width:768px){section#live-projects .container .projects{display:grid;grid-template-columns:1fr 1fr;column-gap:72px;row-gap:72px;margin-top:72px}}@media (min-width:992px){section#live-projects .container .projects{grid-template-columns:1fr 1fr 1fr 1fr}}section#live-projects .container .projects .card{display:inline-block;margin-top:36px;width:100%;height:0;padding-top:100%;border-radius:6px;position:relative;background-position:center center;background-size:cover;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);transition:all .3s cubic-bezier(.25,.8,.25,1)}@media (min-width:768px){section#live-projects .container .projects .card{margin-top:0}}section#live-projects .container .projects .card:hover{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}section#live-projects .container .projects .card#transalis{background-image:linear-gradient(rgba(44,53,56,.75),rgba(44,53,56,.75)),url(/wp-content/uploads/2022/04/frictionless-business-hp-3.webp)}section#live-projects .container .projects .card#argos{background-image:linear-gradient(rgba(66,66,66,.75),rgba(66,66,66,.75)),url(/wp-content/uploads/2022/04/argos.webp)}section#live-projects .container .projects .card#fishscience{background-image:linear-gradient(rgba(0,87,134,.75),rgba(0,87,134,.75)),url(/wp-content/uploads/2022/04/fishscience.webp)}section#live-projects .container .projects .card#openedi{background-image:linear-gradient(rgba(0,170,224,.75),rgba(0,170,224,.75)),url(/wp-content/uploads/2022/04/home-background.webp)}section#live-projects .container .projects .card img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;padding:0 36px;max-height:110px;object-fit:contain;height:unset}@media (min-width:768px){section#live-projects .container .projects .card img{max-height:80px}}section#contact{background-color:#1565c0;height:100vh;position:relative}section#contact .container .content{position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);width:calc(100% - 72px);color:#fff;text-align:center;padding:0 36px}@media (min-width:768px){section#contact .container .content{max-width:372px}section#contact .container .content h2{font-size:2.25rem}}section#contact .container .content p{margin:18px 0}@media (min-width:768px){section#contact .container .content p{margin:18px 0 36px}}@media (min-width:992px){section#contact .container .content p{font-size:1.125rem}}section#contact .container .content .button{display:inline-block;color:#fff;text-decoration:none;border:2px solid #fff;border-radius:6px;padding:9px;width:100%;font-family:"Open Sans 700",sans-serif;transition:background-color .4s ease,color .4s ease}@media (min-width:992px){section#contact .container .content .button{font-size:1.125rem}}section#contact .container .content .button:hover{background-color:#fff;color:#1565c0}section#contact .container .bottom{position:absolute;bottom:144px;left:50%;transform:translateX(-50%);width:100%;text-align:center;color:#fff}@media (min-width:768px){section#contact .container .bottom{bottom:186px}}@media (min-width:992px){section#contact .container .bottom{bottom:72px;font-size:1.125rem}}section#contact .container .bottom .social{margin-bottom:36px;display:flex;flex-flow:row wrap;align-items:center;justify-content:center}section#contact .container .bottom .social .icon{width:36px;height:36px;display:flex;align-items:center;justify-content:center;background-color:#fff;border:2px solid #fff;border-radius:50%;margin:0 9px;transition:background-color .4s ease}section#contact .container .bottom .social .icon svg{fill:#1565c0;transition:fill .4s ease}section#contact .container .bottom .social .icon:hover{background-color:transparent}section#contact .container .bottom .social .icon:hover svg{fill:#fff}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.widget{margin:0 0 1.5em}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2,1fr)}.gallery-columns-3{grid-template-columns:repeat(3,1fr)}.gallery-columns-4{grid-template-columns:repeat(4,1fr)}.gallery-columns-5{grid-template-columns:repeat(5,1fr)}.gallery-columns-6{grid-template-columns:repeat(6,1fr)}.gallery-columns-7{grid-template-columns:repeat(7,1fr)}.gallery-columns-8{grid-template-columns:repeat(8,1fr)}.gallery-columns-9{grid-template-columns:repeat(9,1fr)}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.gallery-caption,.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}