// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}



// Breakpoints

@mixin breakpoint($size) {
	@if $size == mobile-small {
		@media (max-width: 410px) { @content; }
	} @else if $size == mobile {
		@media (min-width: 411px) { @content; }
	} @else if $size == mobile-large {
		@media (min-width: 576px) { @content; }
	} @else if $size == tablet {
		@media (min-width: 768px) { @content; }
	} @else if $size == desktop {
		@media (min-width: 992px) { @content; }
	} @else if $size == desktop-large {
		@media (min-width: 1200px) { @content; }
	}
}