$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #212121;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;




// Custom additions
$blue_50: #E3F2FD;
$blue_100: #BBDEFB;
$blue_200: #90CAF9;
$blue_300: #64B5F6;
$blue_400: #42A5F5;
$blue_500: #2196F3;
$blue_600: #1E88E5;
$blue_700: #1976D2;
$blue_800: #1565C0;
$blue_900: #0D47A1;

$grey_800: #424242;