@font-face {
    font-family: 'Open Sans 300';
    src: url('/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans 400';
    src: url('/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans 600';
    src: url('/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans 700';
    src: url('/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans 800';
    src: url('/wp-content/themes/adampoolcom/fonts/Open_Sans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// stylelint-disable value-keyword-case
$font__main: "Open Sans 400", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Open Sans 400", monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__heading: "Open Sans 700", sans-serif;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
